<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Hello {{msg}}</h1>
        <h2>Ride Reserved</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Location</label>
            <input type="text" id="location" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <textarea class="form-control" id="date" aria-describedby="example-description" placeholder="{{today}}"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Drivers:</h3>
        <ul id="drivers" class="list-group">
          {{#each drivers}}
            {{#unless unavailable}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="drivers/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
